VITE_SUPABASE_URL=https://jttzkunwbaqmjxhegkzr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp0dHprdW53YmFxbWp4aGVna3pyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2OTQ1OTIsImV4cCI6MjA5MDI3MDU5Mn0.dN3RuePzBEq7xZT_CvJ7syLBOxiOxPt4L7lHqqNmf64
VITE_OPENAI_API_KEY=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